# Секреты и конфигурации
.env
*.env

# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Настройки IDE
.vscode/
.idea/

# Временные файлы ОС
.DS_Store
Thumbs.db